/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

/* Page background */
body {
  /*background-color: #f4f6f8;*/
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: "Segoe UI", Tahoma, sans-serif;
  
}


/* Main container */
.container {
  background: #ffffff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input & Add button wrapper */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

/* Input field */
#todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add button */
#add-btn {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #43a047;
}

/* Clear all button */
#clear-btn {
  margin-bottom: 15px;
  padding: 8px 12px;
  border: none;
  background-color: #e53935;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  
}

#clear-btn:hover {
  background-color: #d32f2f;
  
}

/* Todo list */
#todoitems {
  list-style: none;
}

/* Todo item */
#todoitems li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button */
#todoitems li button {
  background-color: #ff5252;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
}
.complete{
  text-decoration: line-through;
  color: #333;

}

#todoitems li button:hover {
  background-color: #e53935;
}
#error-msg {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none; /* hidden by default */
}

